.boosted-stat{
    position: absolute;
    font-size: 30px;
    font-weight: 300;
    width: 40px;
    left: 35%;
    height: 30px;
    line-height: 30px;
}

.player-stat-input{
    padding: auto;
    position: absolute;
    color: yellow;
    border-radius: 10%;
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(255, 251, 0);
    width: 35px;
    height: 30px;
    right: 11%;
    padding-top: 3%;
    top: 18px;
    font-size: 30px;
}

.panel-card{
    height: 500px;
}

.panel-card > .row > .form-input{
    min-width: 150px;
}
.skills-container > .row{
    padding-top: 5px;
}
.options-container > .row{
    border: 2px solid rgb(176, 241, 24);
    margin-left: 0;
    margin-right: 0;
}

.panel-card > .row{
 /*    border: 2px solid red; */
    width: 100%;
    margin-left: 0;
}

.player-stat{
    display: flex;
    width: 75%;
}

.radio-potion{
    display: inline-flex;
    width: 30%;
    margin-left: 15%;
}
.test-box{
    display: flex;
    width: 100%;
    height: 70%;
    background-color:  lightcoral;
}

.test-box > .container{
    border: 1px solid rgb(245, 245, 245);
    padding-right:0;/* 
    padding-bottom: 5px; */
}
.style-container{
    /* display: flex; */
    width: 100%;
    /* background-color: aqua; */

}
.test-options{
    width: 70%;
 /*    margin-left: 15%; */
    height: 100%;
    /* border: 1px solid yellow; */
}
.options-label{
    color: yellow;
    width: 100%;
    /* margin-left: 15%; */
    height: 25%;
    line-height: 70%;
   /*  background-color: lightseagreen; */
}
.checkbox-image{
    position: relative;
    width: 80%;
    left: 5px;
    /* top: 15%; */
   /*  border: 2px solid white; */
    height: 35px;

}

.form-check-input{
    position: relative;
    height: 15px;
    width: 15px;
 /*     left: 15%;  */
   /*  top: 20%; */
  }
.stat-slash{
    font-style: italic;
    font-family: monospace;
    position: absolute;
    left: 50%;
    font-size:50px;
    flex-basis: 5px;
    line-height: 50px;
    pointer-events: none;
    color: rgb(255, 251, 0);
}
.data-output > .row{
    padding-left: 0;
    margin-left: 0;
    justify-content: left;

}
.aqua-bg{
    background-color: aqua;
}

.orange-bg{
    background-color: orange;
}
.row > .options > .form-check-input{
    border: 2px solid greenyellow;}

.options{
    display: flex;
    height: 100%;
    width: 45%;
    justify-content: space-between;
    margin-left: 15%;
    border: 2px red solid;
}
.data-output > .row > .atk-bonus{
    height: auto;
}

.data-output{
    width: 30%;
    justify-content: space-around;
}
.atk-bonus-container{
    display: flex;
    border: 2px solid salmon;
    text-align: left;
}
.atk-bonus-container > .equip-bonus-container > .row{
    text-align: left;
    justify-content: left;
    margin-left: 0;
    padding-left: 0;
}
.atk-bonus-container > .equip-bonus-container > .row > .atk-bonus{
    width: calc(50% - 8px);
    height: auto;
}
.monster-select{
    position: absolute;
    height: 40px;
    width:100%;
    bottom: 5%;
    background-color: aqua;
}
.monster-select > .boss-select{
    height: 100%;
    width: 100%;
}
.player-card, .panel-card{
    min-width: 400px;
    width: 50%;
    margin-left: 0;
    left: 0;
    padding-left: 0;
}

.player-info{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    /* min-width:425px; */
    padding-left: 2px;
    background-color: rgb(27, 27, 27);
   /*  width: 70%; */
    border: 5px solid pink;

}

.player-container{
    display: flex;
    /* margin-left: 2%; */
    width: 96%;
    max-width: 1200px;
    border: 5px solid red;
}
.col-lg-4{
    width: 100%;
    height: 100%;
    border: rgb(250, 133, 0) 5px solid;
}
.container{
    width: 90%;
    justify-content: space-between;
}

.atk-bonus{
    width: 110px;
    height: 40px;
    border: 2px solid rgb(44, 185, 190);
    color: white;
}

.equip-bonus-container{
    border: 2px solid green;
    text-align: left;
    height: 100%;
    width: 70%;
}
.equip-bonus-container > .row > .atk-bonus{
    text-align: left;
    margin-left: 0;
    left: 0;
}

.equip-bonus-container > .data-output{
    border: 2px solid green;
    background-color: blueviolet;
    text-align: left;
    height: 100%;
    width: 30%;
}

.btn-secondary{
    position: absolute;
    height: 45px;
    width: 30px;
    left: 93%;
    background-color: rgb(27, 27, 27);

}

.btn{
    border: 2px solid gold;
}
.prayer-img{
    height: 100%;
}
.prayer-img:hover{
    background-color: rgb(202, 206, 148);
}
/* .img-container{
    height: auto;
    width: auto;
    background-color: red;
} */

.prayer-box{
    display: flex;
    height: 100%;
    width: auto;
   /*  border: 2px solid rgb(5, 255, 5); */
    text-align: center;
     justify-content: space-between; 
}

.styles-container{
    border: 2px dotted rgb(255, 255, 255);
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    left: 0;
    height: 100%;
}
.styles-container>.test-options{
    padding-left: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.attack-style-img{
    width: 100%;
    height: 50%;
    margin-left: 0;
    border: 2px solid green;
}
.test-box > .row{
    display: flex;
    width: 100%;
    height: 50%;
    margin-left: 0;
    margin-right: 0;
    border: 2px solid rgb(88, 76, 255);

}
.combat-styles{
  /*   padding-right: 70%; */
    left: 0;
    padding: 4px;
    background-color: rgba(0,0,0,0);
  /*   border: 2px solid greenyellow; */
}



.attack-styles{
    height: 100%;
}
.spellbook{
    padding-left: 30%;
    padding-top: 1%;
}
.spellbook-img {
    background-color: rgba(0,0,0,0);
}
.input-container{
    display: flex;
    height: 70%;
    width: 100%;
}
.skills-container{
    border: 2px solid gold;
    height: 100%;
    width: 40%;

}

.style-select-row{
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    height: 50%;
    width: 100%;
}

/* .style-select{
    background-color: red;
    width: 100%;
} */
.options-container{
    border: 2px solid blueviolet;
    width: 60%;
    height: 100%;
}
#ranged_level{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://oldschool.runescape.wiki/images/1/19/Ranged_icon.png?01b0e');
}

#atk_level{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://oldschool.runescape.wiki/images/f/fe/Attack_icon.png?b4bce');
}
  
#str_level{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://oldschool.runescape.wiki/images/1/1b/Strength_icon.png?e6e0c');
}