.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding: 25px; */
  top: 150px;
}

/* .row{
  padding: 5%;
} */

.card{
  /*   width: 250px; */
  width:auto;
  top: 15%;
  /* left: 1%; */
  height: 400px;
  background-color: #616263;
  border: 5px solid black;
}

@media only screen and (max-width: 991px){
/*   .App{
    display: block;
  } */
  .card{
    left: 15%;
    width: 70%;
    background-color: brown;
  }
}

/* @media only screen and (max-width: 768px){

  .card{
    left: 0;
    min-width: 450px;
    width: 70%;
    background-color: brown;
  }
} */
/* .panel-card, .monster-card, .player-card{

} */


.panel-card{
 background-color: blueviolet;
 height: 200px;
/*  left: calc((30% + 200px)); */
}
/* 
.monster-card{
  left: calc((30% - 300px));
}

.player-card{
  left: 10%;
} */
.player-equip-card{
  position: absolute;
  
  justify-content: center;
  height: 100%;
  width: 96%;
  background-color: cornflowerblue;
  left: 2%;
}

.equip-slot{
  position: relative;
  background-color: #61626300;
/*   width: 50px;
  height: 50px; */
  height: 75px;
  width:20%;
}

.card-slot{
  width: 75px;
  height: 75px;
}
.row-1{
  justify-content: center;
}
.row-2, .row-3{
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%; 
  background-color: crimson;
  left: 17%;
}

li{
  border-top: 1px solid black;
  color: white;

}

li:hover{
  background-color: rgb(85, 85, 255);
}

.scrollable-menu {
  height: auto;
  max-height: 150px;
  overflow-x: hidden;
  background-color: currentColor;
}


.btn{
  border: 5px solid rgb(175, 127, 82);
  height: 75px;
  width: 100%;
}

/* #helm, #legs{
  left: calc(45%);
} */

/* #weapon, #gloves{
  left: 60px;
}

#offhand, #ring{
  left: 140px;
} */

#helm{
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('blank-equip2.png'); */
  background-image: url('https://oldschool.runescape.wiki/images/3/35/Head_slot.png?b0c39');
}

#cape{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/b/ba/Cape_slot.png?2cf1e');
}

#neck{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/b/b4/Neck_slot.png?5b85d');
}

#ammo{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/6/64/Ammo_slot.png?95ab9');
}

#weapon{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/d/d1/Weapon_slot.png?ffed1');
}

#body{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/9/9f/Body_slot.png?5e649');
}

#offhand{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/d/d9/Shield_slot.png?595b4');
}

#legs{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/2/25/Legs_slot.png?d132b');
}

#gloves{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/d/d5/Hands_slot.png?7e1b5');
}

#boots{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki//images/8/84/Feet_slot.png?93de2');
}

#ring{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/9/9f/Ring_slot.png?37dd8');
 }





