@font-face{
  font-family: 'RsFont';
  src: url('./onlinefontconverter.com/converted-files/RuneScape-UF.woff') format('woff'),
       url('./onlinefontconverter.com/converted-files/runescape_uf.woff2') format('woff2'),
       url('./onlinefontconverter.com/converted-files/runescape_uf.ttf') format('truetype');
}
.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding: 25px; */
  top: 150px;
}

.test{
  position: absolute;
  top: 10%;
  left: 10px;
  height: 80%;
  width: 80%;
  background-color: rgba(0, 255, 255, 0);
  pointer-events: none;
}

.card{
  width:auto;
  max-width: 400px;
 /*  top: 15%; */
  height: 500px;
  background-color: #383131;
  border: 5px solid black;
}

@media only screen and (max-width: 991px){
  .card{
    left: 15%;
    width: 70%;
    background-color: brown;
  }
}

.panel-card{
 background-color: blueviolet;
 height: 200px;
}

.player-equip-card{
  position: absolute;
  top: 1%;
  justify-content: center;
  height: 100%;
  width: 96%;
  left: 2%;
}

.equip-slot{
  position: relative;
  background-color: #61626300;
  height: 75px;
  width:20%;
  border: 1px solid rgb(128, 64, 4); 
}

.card-slot{
  width: 75px;
  height: 75px;
}

.row{
  padding-bottom: 1%;
  justify-content: center;
}

.small-gap{
  margin-right: 3%;
  margin-left: 3%;
}

.md-gap{
  margin-right: 12%;
  margin-left: 12%;
}

li{
  border-top: 1px solid black;
  color: white;

}

li:hover{
  background-color: rgb(85, 85, 255);
}

.scrollable-menu {
  height: auto;
  max-height: 150px;
  overflow-x: hidden;
  background-color: currentColor;
}

.btn{
  border: 5px solid rgb(175, 127, 82); 
  height: 75px;
  width: 100%;
}

.boss-select{
  border: 5px solid rgb(175, 127, 82);
  width: 95%;
  height: 40px;
  background: red;
  color: rgb(253, 249, 30);
  font-weight: normal;
  font-family: 'RsFont';
/*   font-family:"Comic Sans MS", "Comic Sans", cursive; */
}

.boss-img-card{
  width: 55%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow: hidden;
  border: 2px solid blue;

}
.font-test{
  font-family: 'RsFont';
  color: yellow;
  font-weight: normal;
  font-style: normal;
}
.boss-img{
  width: 95%;
  height: 100%;
  border: 2px solid yellow;
}

.section-label{
  top: -25px;
}
/* 
.stats-row{
  margin-top: -15%;
  background-color: cornsilk;
  padding-top: 0;
  border: 2px rgb(0, 255, 42) solid;
  bottom: -15px;
} */

.form-card{
  position: relative;
  display:flex;
/*   grid-template-columns: repeat(auto-fit, minmax(25%, auto));
  grid-gap: 5px;
  grid-row-gap: 5px; */
/*   flex-wrap: wrap; */

  justify-content: space-between;
  margin-top: -10%;
  left: 0;
  height: 165px;
  width: 90%;
  border: 2px black solid;
}
.stat-icon{
  height: 30px;
  width: 30px;
  top: 5%;
  pointer-events: none;
  align-content: center;
  /* border: 1px solid white; */
}
.stats-mid{
  margin-right: 1%;
  margin-left: 1%;
}
.boss-stat-input{
  width: 60%;
  height: 25px;
  line-height: 25px;/* 
  border: 1px black solid; */
}
.form-input{
  border: 1px rgba(0, 0, 0, 0) solid;
  padding: 1px;
  height: 50px;
  width: 30%;
  position: relative;
  display: flex;
  left: 0;
  font-family: 'RsFont';
  color: yellow;
  font-size: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('./blank-skill-bg.png');
}

#defence_level{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/b/b7/Defence_icon.png?ca0cd');
}
#helm{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://oldschool.runescape.wiki/images/3/35/Head_slot.png?b0c39');
}
#hitpoints{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/9/96/Hitpoints_icon.png?a4819');
}
#magic_level{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/5/5c/Magic_icon.png?334cf');
}

#magic_defence{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/bossSkills/magic_defence2.png');
}
#cape{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/b/ba/Cape_slot.png?2cf1e');
}

#neck{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/b/b4/Neck_slot.png?5b85d');
}

#ammo{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/6/64/Ammo_slot.png?95ab9');
}

#weapon{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/d/d1/Weapon_slot.png?ffed1');
}

#blank{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./blank-equip2.png');
}

#body{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/9/9f/Body_slot.png?5e649');
}

#offhand{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/d/d9/Shield_slot.png?595b4');
}

#legs{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/2/25/Legs_slot.png?d132b');
}

#hand{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/d/d5/Hands_slot.png?7e1b5');
}

#feet{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki//images/8/84/Feet_slot.png?93de2');
}

#ring{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki/images/9/9f/Ring_slot.png?37dd8');
 }





