.App {
  text-align: center;
}

.row{
  padding: 5px;
}

.card{
  width: 500px;
  height: 50%;
  left: calc(50% - 250px);
}

#helm, #legs{
  left: calc(50% - 60px);
}

.row-2, .row-3{
  left: calc(50% - 180px);
}

#boots{
  background-repeat: no-repeat;

  background-size: contain;
  background-image: url('https://oldschool.runescape.wiki//images/8/84/Feet_slot.png?93de2');
}
#weapon, #gloves{
  left: 35px;
}
#offhand, #ring{
  left: 125px;
}
#cape{
 left: 60px;
}
#ammo{
  left: 100px;
}
.equip-slot{
  background-color: #616263;
  width: 120px;
  height: 100px;
}
